<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="booking.com tests" >
    <test name="Common Functional Tests">
        <classes>
            <class name="ge.tbc.itacademy.bookingtests.CommonFunctionalTests"/>
        </classes>
    </test>
    <test name="Stays Page Tests">
        <classes>
            <class name="ge.tbc.itacademy.bookingtests.StaysPageTests"/>
        </classes>
    </test>
    <test name="Login Tests">
        <classes>
            <class name="ge.tbc.itacademy.bookingtests.LoginPageTests"/>
        </classes>
    </test>
</suite>